.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 400px;
}

.ant-form-item-explain-error {
  float: left;
}

.login-form-forgot {
  float: right;
}
.login-form-remember {
  float: left;
}

.login-form-button {
  width: 100%;
}

.failed-login {
  font-size: 14px;
  color: red;
}
