.signup {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e1dffb;
}

.signup-logo {
  max-height: 20%;
  margin-bottom: 2%;
}

.signup-form {
  width: 400px;
}

.ant-form-item-explain-error {
  float: left;
}

.signup-form-button {
  width: 100%;
  margin-bottom: 10px;
}

.failed-signup {
  font-size: 14px;
  color: red;
}

.successful-signup {
  font-size: 14px;
  color: green;
}
